@model MovieStore.Models.Movie

@{
    ViewData["Title"] = "AddMovie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>AddMovie</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMovie">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieTitle" class="control-label"></label>
                <input asp-for="MovieTitle" class="form-control" />
                <span asp-validation-for="MovieTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="DirectorFName">Director First Name:</label>
                <input type="text" name="DirectorFName" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="DirectorLName">Director Last Name:</label>
                <input type="text" name="DirectorLName" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="Genre">Movie Genre:</label>
                <input type="text" name="Genre" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="AgeRating">AgeRating</label>
                <select name="AgeRating">
                    <option disabled selected>--Age Rating--</option>
                    <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="PG13">PG-13</option>
                    <option value="R">R</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MovieReleaseDate" class="control-label"></label>
                <input type="date" asp-for="MovieReleaseDate" class="form-control" />
                <span asp-validation-for="MovieReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
