@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1>Welcome to UNFMovies!</h1>
        <p>What would you like to do?</p>
    </div>
    <div class="flex-grow-0">
        <h3><a href="~/Home/Login">User Login</a></h3>
        <p>Here you can login to the UNFMovie Database.</p>
    </div>
    <div class="flex-grow-0">
        <h3><a href="~/Home/AddCustomer">Create Profile</a></h3>
        <p>Don't have a profile? Here you can create your user profile within the UNFMovie Database.</p>
    </div>
    @*<div class="flex-grow-0">
        <h3><a href="~/Home/AddMovie">Add Movie</a></h3>
        <p>Here you can add a new title to the UNFMovie Database.</p>
    </div>
    <div class="flex-grow-0">
        <h3><a href="~/Home/AdminHomepage">View Movies</a></h3>
        <p>Here you can view the list of movies already in the UNFMovie Database.</p>
    </div>*@
</div>


