@model MovieStore.Models.LoginModelView

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<div class="ImgContainer"></div>

<div class="LoginContainer">
    <div class="col-md-4">
        <h1 class="text-center">User Login</h1>

        <form asp-action="Login" method="post">
            <input type="text" placeholder="Username" name="username" required class="form-control" /> <br />
            <input type="password" placeholder="Password" name="password" required class="form-control" /> <br />
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    </div>
</div>

