
@{
    ViewData["Title"] = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Home</h1>

<div>
    <div class="text-center">
        <h1>Welcome to UNFMovies!</h1>
        <p>What would you like to do?</p>
    </div>
    <div class="flex-grow-0">
        <h3><a href="~/Home/MovieList">Movie Search</a></h3>
        <p>Here you can browse the movies available within the UNFMovie Database.</p>
    </div>
    <div class="flex-grow-0">
        <h3><a href="~/Home/Checkout">Checkout</a></h3>
        <p>Here you can checkout with the items in your cart.</p>
    </div>
    <div class="flex-grow-0">
        <h3><a href="~/Home/Return">Returns</a></h3>
        <p>Need to return a rental? Click here!</p>
    </div>
    <div class="flex-grow-0">
        <h3><a href="~/Home/CheckBalance">Check Balances</a></h3>
        <p>Not sure how much you owe? Click here to view your outstanding balances.</p>
    </div>
    <div class="flex-grow-0">
        <h3><a href="~/Home/AddReview">Write a Review</a></h3>
        <p>Love one of our movies? Click here to write a review!</p>
    </div>
    <div class="flex-grow-0">
        <h3><a href="~/Home/ReviewList">Read Reviews</a></h3>
        <p>Looking for a suggestion? Click here to read our user's movie reviews.</p>
    </div>
</div>

